.DropDownDiv {
    position: relative;
    width: 200px;
    min-height: 100px;
    font-family: var(--font-family);
    /* background: #ff6969; */
}

.DropDownSelect {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.DropDownList {
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.DropDownList::-webkit-scrollbar {
    width: 6px;
    background: #00000000;
}
.DropDownList::-webkit-scrollbar-thumb {
    background-color: #5bff71;
    border-radius: 3px;
}

.DropDownListAnimateAdd {
    display: flex;
}

.DropDownListAnimateRemove {
    /* transform: translatey(100px); */
    transform: translatey(-100px);
    display: none;
}

.DropDownListItem {
    padding: 5px 10px;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.DropDownListItemAdd {
    display: flex;
}

.DropDownListItemRemove {
    display: none;
}

.DropDownListItemActive {
    background-color: var(--primary-color); /* Example active style */
    color: var(--on-primary-color); /* Example active text color */
}
