.container {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--border-radius-sm);
}

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-color);
}

.radioInput {
  /* Hide the default radio button */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--border-primery);
  border-radius: var(--border-radius-50-Pencent);
  margin-right: var(--space-sm);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.radioInput:checked {
  background-color: var(--secondary-color); /* Fill when checked */
  border-color: var(--secondary-color);
}

.radioInput:checked::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: var(--border-radius-50-Pencent);
  background-color: var(--bg-primary-color); /* Inner dot color */
}

.radioInput:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
