.inputDiv{
    background: #ffe7e7;
    height: 40px;
    width:250px;
    border-radius: 10px;
    overflow: hidden;
}


.input{
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: inherit;
}