.inputDiv {
    background: #ffe7e700;
    height: 60px;
    /* width:250px; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
}

.legandStyle {
    position: absolute;
    z-index: 10;
    /* color: #ff6262; */
    /* transform: translateY(10px) translateX(8px); */
    bottom: 5px;
    left: 10px;
    transition: transform 0.3s ease;

}

.legieng {
    transform: translateY(-30px) translateX(2px);
}

.input {
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primery);
    border-radius: var(--border-radius-sm);
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    align-self: flex-end
}
