:root {
    --bg-primary-color: #000000;
    --secondary-color: #ffffff;
    --bg-color: #ffffff;

    --text-color: #ffffff;

    /** spacing variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* *border colors */
    --border-primery: #212121;
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
    --border-radius-50-Pencent: 50%;
}




.btn-light {
    background: #ffffff;
    color: #212121;
    border-radius: 5px;
}
.btn-dark {
    background: #212121;
    color: #ffffff;
    border-radius: 5px;
}
