:root {
    --bg-primary-color: #000000;
    --secondary-color: #ffffff;
    --bg-color: #ffffff;

    --text-color: #ffffff;

    /** spacing variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* *border colors */
    --border-primery: #212121;
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
    --border-radius-50-Pencent: 50%;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Arial", sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-color);
    line-height: 1.5;
}

.btn-light {
    background: #ffffff;
    color: #000000;
    /* border: 1px solid #000000; */
}
.btn-dark {
    background: #212121;
    color: #ffffff;
    /* border: 2px solid #ffffff; */
}
