.madalbg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000000;
    /* background: rgba(0, 0, 0, 0.5); */
    backdrop-filter: blur(4px);
    z-index: 99999999;
}

.madal {
    min-width: 200px;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
